/* Using Fonts Mono */
@font-face {
    font-family: 'JetBrains Mono';
    src: url("https://cdn.jsdelivr.net/gh/LemonPrefect/sDelivr@1.6.7/font/JetBrainsMono-Medium.eot"),
    url("https://cdn.jsdelivr.net/gh/LemonPrefect/sDelivr@1.6.7/font/JetBrainsMono-Medium.woff2");
}
@font-face {
    font-family: 'Noto Mono';
    src: url("https://cdn.jsdelivr.net/gh/LemonPrefect/sDelivr@1.6.7/font/NotoMono-Regular.eot"),
    url("https://cdn.jsdelivr.net/gh/LemonPrefect/sDelivr@1.6.7/font/NotoMono-Regular.woff2");
}

/* Container Style */
body{
    font-family: 'Noto Serif SC',sans-serif;
    background: #f7f7f7;
    color: #4a4a4a;
    margin:0px auto;
    font-weight: 600;
}

/* Head&Tail */
body DiaryHead{
    display: block;
    margin: inherit;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 880px;
    text-align: center;
    font-size: 3em;
    word-wrap:break-word;
}
body DiaryHead div{
    font-size: 0.3em;
    padding-top: 30px;
}
DiaryTail div{
    color: #939393;
    text-align: center;
    margin: 10px;
    height:20px;
    line-height:20px;
}

/* Container */
Container{
    background: #ffffff;
    display: block;
    margin: inherit;
    max-width: 900px;
    font-size: 1.15em;
    padding: 60px 40px;
    margin-bottom: 40px;
}

Container StateHead{
    color: #363636;
    display: block;
    font-size: 0.785em;
    padding-bottom: 11px;
    
}
Container .State{
    float: left;
    padding-left: 20px;
}
Container .Date{
    float: right;
     padding-right: 20px;
}
Container hr{
    width: 260px;
    margin: 38px auto;
    height: 3px;
    background: #f7f7f7;
    border-radius: 3px;
    border-style: solid;
    border-color: #f7f7f7;
}

/* Effcts */
DiaryBody a{
    word-wrap: break-word;
    color: #4a4a4a;
    transition: 0.3s ease-out 0s;
    border-bottom: 2px solid #f3f3f3;
    text-decoration: none;
}
DiaryBody a:hover{
    color: #00218c;
    border-bottom: 2px solid #5373dc;
}
DiaryBody ::selection{
    background: #c7d3db;
}
a{
    text-decoration: none;
    color:#939393;
}
DiaryBody code,
DiaryBody pre{
    font-size: 1rem;
    font-family: "JetBrains Mono", "Noto Mono", Consolas;
}
DiaryBody code{
    color: rgba(116,113,114,0.922);
    background: #f3f3f3;
    margin: 2px 3px 2px 3px;
    padding: 0px 2px 0px 2px;
    font-family: "JetBrains Mono", "Noto Mono", Consolas;
}
DiaryBody pre{
    font-weight: initial;
    background: #f3f3f3;
}
DiaryBody quote{
    background: #f3f3f3;
    border-left: 3px solid#7e7ba3;
    border-right: 3px solid #7e7ba3;
}
